.dokuwiki form {
    input,
    button,
    select {
        box-sizing: border-box;
        height: 2rem;
        line-height: 1.5em;
        border: 1px solid @ini_border;
        border-radius: 2px;
        outline: none;

        background-color: @ini_background;
        color: @ini_text;

        &:active,
        &:focus {
            border: 1px solid @ini_highlight;
        }
    }

    input[type=button],
    input[type=submit],
    button {
        color: @ini_text;
        background-color: @ini_accent;
        cursor: pointer;
    }

    input[type=file] {
        border: none;
    }

    input[type=checkbox],
    input[type=radio] {
        width: 1.25rem;
        height: 1.25rem;
    }
}

#dw__login label[for="remember__me"] {
    display: block;
    text-align: left;
    margin-left: 0;
    padding-left: 50%;
}

@media screen and (max-width: @ini_phone_width) {
    .dokuwiki form label.block {
        text-align: left;

        span {
            text-align: left;
        }

        input.edit,
        select {
            width: 100%
        }

    }

    #dw__login label[for="remember__me"] {
        line-height: 1.25rem;
        margin-bottom: 1rem;
        padding-left: 0;
    }
}
