html, body {
    color: @ini_text;
    background-color: @ini_background;
    font-family: sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

a {
    color: @ini_text;
    text-decoration: none;

    &:hover {
        color: @ini_highlight;
    }
}

img, object, embed, iframe, video, audio {
    max-width: 100%;
}

// dokuwiki default style overrides
.dokuwiki {
    // don't highlight current ids
    span.curid a {
        font-weight: inherit;
    }

    // secedit button adjusted for our margins
    .secedit button {
        margin-top: 1rem;
    }

    // sitemap fix
    ul.idx {
        padding-left: 1rem;
    }
}

