.dokuwiki > header.notos {
    background-color: @ini_header_background;
    border-bottom: 5px solid @ini_highlight;
    color: @ini_header_text;
    padding-top: 1rem;

    .toprow {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;

        .branding {
            display: flex;

            img {
                height: 4rem;
                margin-right: 1rem;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    margin: 0;
                    font-size: 1.5rem;

                    a {
                        color: unset;
                    }
                }
            }
        }

        .header-controls {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
}

@media screen and (max-width: @ini_phone_width) {
    .dokuwiki > header.notos {
        .container {
            padding-right: 1rem;

            .toprow {
                display: block;
            }
        }
    }
}
