.dokuwiki > header.notos {
    background-color: @ini_header_background;
    border-bottom: 5px solid @ini_highlight;
    color: @ini_header_text;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .toprow {
        display: flex;
        justify-content: space-between;

        .branding {
            display: flex;

            img {
                height: 4rem;
                margin-right: 1rem;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    margin: 0;
                    font-size: 1.5rem;

                    a {
                        color: unset;
                    }
                }
            }
        }

        .header-controls {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .tools {
            z-index: 1;
            position: relative;

            div.tool-button {
                display: inline-block;

                label {
                    display: flex;
                    align-items: center;
                    margin-left: 1rem;

                    svg {
                        fill: @ini_header_text;
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-right: 0.25rem;
                    }
                }

                div {
                    position: absolute;
                    right: 0;
                    top: 1.5em;
                    width: 20rem;
                    z-index: 10;
                    background-color: @ini_header_text;
                    border: 1px solid @ini_border;

                    b {
                        color: @ini_text;
                        opacity: 0.2;
                        font-size: 90%;
                        padding-left: 1rem;
                        white-space: nowrap;
                        writing-mode: vertical-rl;

                        position: absolute;
                        right: 0;

                        padding-top: 0.25rem;
                    }

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0 0 1rem 0;

                        li {
                            text-align: center;
                            line-height: 2;

                            &.top {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .breadcrumbs {
        padding-top: 2rem;
        font-size: small;

        span.bchead {
            font-weight: bold;
        }

        a {
            color: unset;
        }
    }
}

@media screen and (max-width: @ini_phone_width) {
    .dokuwiki > header.notos {
        .container {
            padding-right: 1rem;

            .toprow {
                display: block;
            }

            .breadcrumbs {
                display: none;
            }
        }
    }
}
