html, body {
    padding: 0;
    margin: 0;
}

.container {
    box-sizing: border-box;
    width: 100%;
    max-width: @width;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 3rem; // needs to be enough to accommodate the page-tools
}

.dokuwiki > header {
    overflow: hidden;
}

.dokuwiki > main {
    position: relative;
}

.mobile-menu-btn {
    display: none;
}