.dokuwiki > main > article {

    /* links */

    a {
        text-decoration: underline;
        text-decoration-color: @ini_highlight;
        text-decoration-thickness: 1px;
    }

    a:hover {
        color: @ini_text;
        background-color: @ini_accent;
        border-radius: 3px;
        text-decoration: none;
        border-bottom: 1px solid @ini_highlight;
    }

    /* tables */
    table {
        border-collapse: collapse;

        th,
        td {
            border: @ini_border 1px solid;
        }

        th {
            background-color: @ini_accent;
        }

        td {
            padding: 0.2rem
        }

        a {
            font-weight: unset;
        }
    }

    div.table {
        width: 100%;
        overflow: auto;
    }

    /* code */

    pre {
        border: 1px solid @ini_border;
        border-radius: 3px;
        overflow: auto;

        &.file,
        &.code {
            padding: 0.5rem;
        }
    }

    dl.code,
    dl.file {
        dd {
            margin: 0;
            clear: left;
        }

        dt {
            border: 1px solid @ini_border;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-color: @ini_background;
            padding: .3em .6em .1em;
            margin-left: 1em;
            margin-bottom: -1px;
            float: left;
        }
    }

    /* Section Editing */
    .secedit {
        float: none;
        margin-top: 0;
        overflow: auto;

        button {
            opacity: 0.5;
            margin-top: 0.5rem;
            z-index: 150;
            float: right;

            &:hover {
                opacity: 1;
            }
        }
    }


    /* TOC */
    #dw__toc {
        min-width: 20rem;
        background-color: @ini_background;
        border: @ini_border 1px solid;
        z-index: 12;

        h3 {
            margin-block-start: 0;
            margin-block-end: 0;
            padding: 0.5rem 2rem 0.5rem 2rem;

            &.toggle {
                font-weight: normal;
                font-size: initial;
                background-color: @ini_accent;
            }
        }

        > div {
            font-size: smaller;
            padding: 1rem;

            ul.toc {
                padding-inline-start: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;

                a {
                    font-weight: unset;
                    text-decoration: unset;
                }

                li:not(.clear) {
                    list-style-type: disc;
                }
            }
        }
    }
}

