.dokuwiki > main > article {

    /* links */
    a {
        text-decoration: underline;
        text-decoration-color: @ini_highlight;
        text-decoration-thickness: 1px;
    }

    a:hover {
        color: @ini_text;
        background-color: @ini_accent;
        border-radius: 3px;
        text-decoration: none;
        border-bottom: 1px solid @ini_highlight;
    }

  /* tables */
  div.table table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: @ini_border 1px solid;
    }

    th {
      background-color: @ini_accent;
    }

    td {
      padding: 0.2rem
    }

    a {
      font-weight: unset;
    }
  }

  /* code */
  pre, code, samp, kbd {
    background-color: @ini_accent;
    color: @ini_border;
    box-shadow: inset 0 0 0.3em #bbb;
    border-radius: 3px;

    &.code {
      padding: 0.5rem;
    }
  }

  /* TOC */
  #dw__toc {
    min-width: 20rem;
    background-color: @ini_background;
    border: @ini_border 1px solid;
    z-index: 12;

    h3 {
      margin-block-start: 0;
      margin-block-end: 0;
      padding: 0.5rem 2rem 0.5rem 2rem;

      &.toggle {
        font-weight: normal;
        font-size: initial;
        background-color: @ini_accent;
      }
    }

    > div {
      font-size: smaller;
      padding: 1rem;

      ul.toc {
        padding-inline-start: 1rem;
        padding-left:1rem;
        padding-right: 1rem;

        a {
          font-weight: unset;
          text-decoration: unset;
        }

        li:not(.clear) {
          list-style-type: disc;
        }
      }
    }
  }
}

