/* Nots Template specific tools */


/**
 * CSS only toggle mechanism
 */
input.notos-toggle {
    display: none;

    & ~ * {
        display: none !important;
    }

    &:checked + * {
        display: inherit !important;
    }
}
label.notos-toggle {
    cursor: pointer;
}


