/* search form in content */
main article.notos {
    form.search-results-form {
        fieldset {
            padding-inline-start: 0;
            padding-inline-end: 0;
            min-inline-size: min-content;
        }

        button.toggleAssistant {
            margin-right: 0.5rem;
        }
    }
}

/* quick search */
header.notos {
    #dw__search div.no {
        display: block;
    }

    #qsearch__in {
        width: 15rem;
    }

    #qsearch__out {
        width: 15rem;
        left: -15rem;
        box-sizing: border-box;
        border: 1px solid @ini_border;
        font-size: 80%;
    }
}
