/* search form in content */
main.notos article.notos {
    form.search-results-form {
        fieldset {
            padding-inline-start: 0;
            padding-inline-end: 0;
            min-inline-size: min-content;
        }

        button.toggleAssistant {
            margin-right: 0.5rem;
        }
    }

    .search_fullpage_result {
        margin-bottom: 1rem;

        dt {
            font-size: 110%;
        }

        dd.meta {
            font-size: 80%;
        }
    }
}

/* quick search */
header.notos {
    #dw__search div.no {
        display: block;
    }

    #qsearch__in {
        width: 15rem;
        max-width: 50vw;
    }

    #qsearch__out {
        width: 15rem;
        left: -15rem;
        box-sizing: border-box;
        border: 1px solid @ini_border;
        font-size: 80%;
    }
}

@media screen and (max-width: @ini_phone_width) {
    .dokuwiki form.search div.ajax_qsearch {
        left: 0;
        top: 2rem;
    }

    header.notos {
        #qsearch__out {
            left: 0;
        }
    }
}
